.editorContainer {
  display: flex;
  flex-wrap: nowrap;
  /*justify-content: flex-end; */
  background-color: #e5e5e5;
}

.editor {
  /* flex: 1 1 600px; */
  height: 100vh;
  width: 800px;
}

.textArea {
  margin: 60px;
  background-color: #fff;
  height: 720px;
  max-width: 608px;
}

.sideBar {
  /* flex: 0 0 240px; */
  width: 240px;
  background-color: #fff;
}
